/* Reset default margin and padding */
body, h1, h2, ul, li, a, p {
    margin: 0;
    padding: 0;
}

/* Apply background gradient */
body {
    background: linear-gradient(to bottom, #1ac6ff, #043671);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Style header */
header {
    padding: 20px;
}

/* Style main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Adjust as needed */
}

/* Style options list */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style individual options */
li {
    margin: 20px 0;
}

a {
    text-decoration: none;
}

.option {
    background-color: #1ac6ff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option:hover {
    background-color: #043671;
}

.option-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.option-description {
    font-size: 18px;
    text-align: center;
}

/* Footer styling */
footer {
    margin-top: 20px;
    padding: 10px;
}
